@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

.drag-area {
  border: 2px dashed #000;
  height: 230px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.drag-area.active {
  border: 2px solid #000;
}

.drag-area .icon {
  font-size: 100px;
  color: #000;
}

.drag-area header {
  font-size: 30px;
  font-weight: 500;
  color: #000;
}

.drag-area span {
  font-size: 25px;
  font-weight: 500;
  color: #000;
  margin: 10px 0 15px 0;
}

.drag-area button {
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #000;
  color: #e4e5f0;
  border-radius: 5px;
  cursor: pointer;
}

.drag-area img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.modalCuver {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* modalCuver Content */
.modalCuver-content {
  background-color: transparent;
  margin: auto;
  padding: 20px;
  width: 80%;
}

/* The closeCuver Button */
.closeCuver {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
 margin-right: -20px;
 margin-top: -20px;
}

.closeCuver:hover,
.closeCuver:focus {
  color: rgb(238, 233, 233);
  text-decoration: none;
  cursor: pointer;
}